@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Novel Tech Park,<br />
    Opposite to 1 MG Mall,<br />
    MG Road,<br />
    Bangalore – 560042<br />
    <abbr title="Phone">Phone:</abbr>
    +91 6382930755
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gtholidays.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gtholidays.com</a>
</address>