@model WebApplication1.Models.partner

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>partner</h4>
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
