@model IEnumerable<WebApplication1.Models.partner>

@{
    ViewBag.Title = "Our Partners";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.companyname)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.companyname)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.partnerid }) 
       
        </td>
    </tr>
}

</table>
